@import "compass";
@font-face {
  font-family: 'ほのか明朝';
  src: url('font_1_honokamin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body, html {
  height: 100%;
  background-color: #f5f5f3;
}
body {
  padding-top: 60px;
}
h1, h2, h3, h4, h5, h6, body {
  line-height: 1.57;
  letter-spacing: 0.15em;
  font-size: 16px;
  color: #666;
  font-family: 'Unica One', "Avenir", "游ゴシック", "YuGothic", "ヒラギノ角ゴ Pro W6", "HIragino Kaku Gothic Pro W6", "HIragino Kaku Gothic Pro", Osaka, Meiryo, "メイリオ", "ＭＳ Ｐゴシック", "MS P Gothic", sans-serif;
  margin: 0;
}
a {
  text-decoration: none;
  color: #666;
}
a:hover {
  color: #57c3e9;
}
.bold {
  font-weight: bold;
}
.serif, div.contents.row div.content_post p {
  font-family: 'ほのか明朝', serif;
}
.ultra {
  font-size: 2em !important;
}
::selection {
  background: #d8d8d8;
}
.btn, header.header div.header__bar.row div.grid-6 a.post {
  padding: 8px 20px;
  font-size: 14px;
  border: 2px solid #57c3e9;
  color: #57c3e9;
  font-weight: bold;
  text-align: center;
  border-radius: 3px;
  display: inline-block;
}
.btn:hover, header.header div.header__bar.row div.grid-6 a.post:hover {
  border-color: #9bdbf2;
  color: #9bdbf2;
}
.title {
  font-weight: bold;
}
.title--big {
  font-size: 1.5em;
  font-weight: bold;
}
.title--big i {
  font-style: italic;
  font-size: 1.8em;
}
header.header {
  padding: 10px;
  border-bottom: 1px solid #d8d8d8;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
}
header.header div.header__bar.row {
  position: relative;
}
header.header div.header__bar.row h1.grid-6 {
  font-size: 20px;
  line-height: 41px;
  float: left;
}
header.header div.header__bar.row h1.grid-6 a {
  display: block;
}
header.header div.header__bar.row div.grid-6 {
  float: right;
  text-align: right;
}
header.header div.header__bar.row div.grid-6 a.post {
  width: 120px;
  display: inline-left;
  margin-left: 10px;
}
header.header .user_nav {
  position: relative;
  height: 100px;
  position: absolute;
  right: 0;
}
header.header .user_nav span {
  top: 5px;
  display: block;
  float: left;
  margin-left: 30px;
  width: 150px;
  height: 50px;
  font-size: 1em;
  cursor: pointer;
  position: relative;
}
header.header .user_nav span:after {
  content: '▼';
  font-size: 0.7em;
  margin-left: -4px;
}
header.header .user_nav span:hover ul {
  color: #57c3e9;
  display: block;
}
header.header .user_nav ul {
  display: none;
  position: absolute;
  top: 46px;
  right: 0;
  border-left: 1px solid #d8d8d8;
  border-right: 1px solid #d8d8d8;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
}
header.header .user_nav ul li {
  background-color: #f0f0f0;
}
header.header .user_nav ul li a {
  display: block;
  padding: 10px 20px;
  text-align: left;
  border-bottom: 1px solid #d8d8d8;
}
.form {
  background: url(https://dl.dropboxusercontent.com/u/5840617/DeathtoStock_Wired3.jpg);
  background-size: cover;
}
.form .contents {
  position: absolute;
  left: 0;
  top: 30%;
  bottom: 0;
  right: 0;
}
.form footer {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
}
div.contents.row h2 {
  margin: 20px 0;
  padding: 0;
  font-weight: normal;
}
div.contents.row h2 strong {
  font-weight: bold;
  padding-right: 5px;
  font-size: 1.2em;
}
div.contents.row .new_user {
  font-family: "游ゴシック", "YuGothic";
}
div.contents.row div.content_post {
  margin: 20px 0;
  padding: 30px;
  position: relative;
  height: 400px;
  color: #fff;
  background-size: cover;
  background-position: center center;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
}
div.contents.row div.content_post:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: 3px;
}
div.contents.row div.content_post .more {
  position: absolute;
  cursor: pointer;
  top: 20px;
  right: 30px;
  z-index: 2;
  height: 100px;
  width: 80px;
  text-align: right;
}
div.contents.row div.content_post .more:hover ul.more_list {
  display: block;
}
div.contents.row div.content_post .more ul.more_list {
  position: absolute;
  text-align: left;
  width: 80px;
  right: 0;
  font-size: 12px;
  background-color: #fff;
  border: 1px solid #ddd;
  display: none;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}
div.contents.row div.content_post .more ul.more_list li {
  border-bottom: 1px solid #ddd;
}
div.contents.row div.content_post .more ul.more_list li:last-child {
  border-bottom: 0;
}
div.contents.row div.content_post .more ul.more_list li a {
  display: block;
  padding: 5px;
}
div.contents.row div.content_post .more ul.more_list li a:hover {
  background-color: #57c3e9;
  color: #fff;
}
div.contents.row div.content_post p {
  position: absolute;
  left: 30px;
  right: 100px;
  bottom: 30px;
  margin: 0;
  font-size: 20px;
  z-index: 2;
  font-weight: bold;
  text-shadow: 0 0 2px #000, 0 0 1px #000, 0 0 1px #000;
}
div.contents.row div.content_post span.name {
  position: absolute;
  right: 30px;
  bottom: 30px;
  z-index: 2;
  font-size: 13px;
}
div.contents.row div.content_post span.name a {
  display: block;
  color: #aaa;
}
div.contents.row div.content_post span.name a:hover {
  text-decoration: underline;
  color: #aaa;
}
div.contents.row div.content_post span.name span {
  font-size: 9px;
  display: block;
}
div.contents.row .success {
  margin: 20px 0;
  padding: 30px;
  box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
  background-color: white;
  box-sizing: border-box;
  text-align: center;
}
div.contents.row .success h3 {
  margin: 10px auto;
}
form h3 {
  margin: 0 0 20px;
  text-align: center;
  font-weight: normal;
  font-size: 20px;
  color: #666;
}
form input, form textarea {
  width: 100%;
  margin: 5px 0 15px;
  padding: 10px;
  border: 1px solid #d8d8d8;
  border-radius: 5px;
  font-family: "游ゴシック", "YuGothic";
}
form input[type="submit"] {
  background-color: #57c3e9;
  border-radius: 20px;
  color: #fff;
  border: 0;
  font-size: 18px;
}
form input[type="submit"]:hover {
  background-color: #84d3ef;
}
.container {
  margin: 20px 0;
  padding: 30px;
  box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
  background-color: white;
  box-sizing: border-box;
}
.comments {
  padding: 5px;
  margin-top: 15px;
}
.comments a {
  color: #57c3e9;
}
.comments a:hover {
  text-decoration: underline;
}
footer {
  margin: 30px auto;
  padding: 10px;
  color: #d8d8d8;
}
footer p {
  text-align: center;
}
